# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
port = 3306

key_buffer           = 16M
max_allowed_packet   = 16M
thread_stack         = 192K
thread_cache_size    = 8
max_connections      = 1500
max-user-connections = 1500
max_user_connections = 1500
max-connections      = 2000

# Optimizations
query_cache_limit        = 10M
query_cache_size         = 16M
query_cache_type         = 1
query_cache_min_res_unit = 2k
key_buffer_size          = 16M
max_allowed_packet       = 16M
thread_stack             = 192K
thread_cache_size        = 8
max_allowed_packet       = 16M
tmp_table_size           = 16M
join_buffer_size         = 1M

# Other Settings
expire_logs_days = 10
max_binlog_size  = 100M

log_error = /var/log/mysql/error.log

skip-external-locking
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]

[isamchk]
key_buffer = 16M
